.app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  height: 100vh;

  background: rgb(168, 168, 168);
  background: linear-gradient(
    0deg,
    rgba(168, 168, 168, 1) 0%,
    rgba(13, 97, 133, 1) 0%,
    rgba(97, 198, 242, 1) 100%
  );
}

@mixin box-shadow {
  box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.19);
}

@mixin box-shadow-2 {
  box-shadow: 0px 77px 123px 9px rgba(184, 5, 196, 0.3);
  -webkit-box-shadow: 0px 77px 123px 9px rgba(184, 5, 196, 0.3);
  -moz-box-shadow: 0px 77px 123px 9px rgba(184, 5, 196, 0.3);
}

.calculator-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 16px;
  /* @include box-shadow(); */
  @include box-shadow-2();

  .calculator-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 8px;
    width: auto;
    height: 128px;
    color: #0d6185;
    #display-before {
      display: flex;
      padding-top: 8px;
      font-size: 32px;
      font-weight: 200;
    }
    #display {
      display: flex;
      padding-top: 8px;
      font-size: 44px;
      font-weight: 300;
    }
  }
  .calculator-bottom {
    .row {
      display: flex;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
      }
    }
    .row-bottom {
      display: flex;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
      }
      #equals {
        position: absolute;
        right: 8px;
        margin-right: 16px;
        width: 128px;
        height: 64px;
        background-color: #61c6f2;
        color: #f6f6f6;
        border-radius: 15px;
      }
    }
    .color {
      background-color: #61c6f2;
      color: #f6f6f6;
      font-size: 24px;
      font-weight: 200;
      border-radius: 50%;
      margin: 8px;
      box-shadow: 7px 6px 10px 1px rgba(0, 0, 0, 0.24);
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        transform: scale(0.95);
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        transition: 0.2s;
      }
    }
    .colorless {
      background-color: #f6f6f6;
      color: #4c96bd;
      font-size: 24px;
      font-weight: 300;
      border-radius: 50%;
      margin: 8px;
      box-shadow: 7px 6px 10px 1px rgba(0, 0, 0, 0.24);
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        transform: scale(0.95);
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        transition: 0.2s;
      }
    }
  }
}
